.date-input {
}

.date-input__button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;

  padding: 0;

  border: 0;
  outline: 0;

  background-color: $gray;
  transition: background-color 50ms ease;
  cursor: pointer;

  mask: url("images/calendar.svg");
  -webkit-mask: url("images/calendar.svg");
  mask-position: center center;
  -webkit-mask-position: center center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.date-input__value {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;

  padding: 23px 15px 8px 15px;
}

.date-input__button::-moz-focus-inner {
  border: 0;
}

.date-input__button:hover {
  background-color: $button-blue;
}

.date-input__icon {
  padding: 3px 2px 0 2px;
}
