.dropdown-input__text-input,
.dropdown-input__value {
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;

  padding: 23px 15px 8px 15px;
}

.dropdown-input__text-input {
  box-sizing: border-box;
  width: 100%;

  border: 0;
  background: transparent;
}
