.flight__wrapper {
  padding: 15px;
  background-color: $white;

  display: flex;
  align-items: flex-start;
}

.flight__calendar {
  border: 2px solid $border-gray;
  border-radius: 3px;
}

.flight__month {
  background-color: $background-gray;

  width: 36px;
  height: 21px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flight__day {
  width: 36px;
  height: 21px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flight__text-wrapper {
  margin: 0 12px;
}

.flight__departure,
.flight__destination {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
}

.flight__time {
  margin-top: 4px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
}
