.flight-date-selector__wrapper {
  height: 60px;

  display: flex;
  justify-content: space-between;
}

.flight-date-selector__button {
  width: 40px;

  @media (min-width: 768px) {
    width: 200px;
  }

  padding: 0;

  background-color: transparent;
  outline: 0;
  border: 0;

  cursor: pointer;

  display: flex;
  align-items: center;
}

.flight-date-selector__button--align-right {
  justify-content: flex-end;
}

.flight-date-selector__button::-moz-focus-inner {
  border: 0;
}

.flight-date-selector__caret {
  width: 40px;
  height: 40px;
  background-color: $secondary;

  transition: background-color 50ms ease;
}

.flight-date-selector__caret--left {
  mask: url("images/left-arrow-chevron.svg");
  -webkit-mask: url("images/left-arrow-chevron.svg");
}

.flight-date-selector__caret--right {
  mask: url("images/right-arrow-chevron.svg");
  -webkit-mask: url("images/right-arrow-chevron.svg");
}

.flight-date-selector__caret {
  mask-position: center center;
  -webkit-mask-position: center center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.flight-date-selector__label {
  font-family: Roboto;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: $gray;

  transition: background-color 50ms ease;

  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.flight-date-selector__date {
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  color: $black;

  display: flex;
  align-items: center;
}

.flight-date-selector__button:hover > .flight-date-selector__label {
  color: $hover-gray-dark;
}
