.header__wrapper {
  height: 60px;

  background-color: $primary;

  display: flex;
}

.header__logo {
  margin: 15px;
}

.header__departure-wrapper {
  margin-left: 126px;
}

.header__label {
  margin-top: 12px;

  font-family: Roboto;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: $white;
}

.header__arrows {
  margin-left: 40px;

  display: flex;
  flex-direction: column;

  padding-top: 12px;
}

.header__arrow {
  margin-top: 6px;
}

.header__destination-wrapper {
  margin-top: 24px;
  margin-left: 40px;
}

.header__airport {
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
  color: $white;
}
