.input__wrapper {
  margin: 0 10px;
}

.input__inner {
  height: 50px;
  width: 250px;
  margin-bottom: 50px;

  background: $white;
  border: 1px solid $gray;
  box-sizing: border-box;
  border-radius: 2px;

  position: relative;
}

.input__inner--erroneous {
  margin-bottom: 0;
  border: 2px solid $secondary;
}

.input__label {
  position: absolute;
  top: calc(50% - 19px / 2);
  left: 15px;

  color: $gray;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  pointer-events: none;

  transition: all 150ms ease;
}

.input__label--collapsed {
  top: calc(50% - 12px / 2 - 11px);

  font-size: 10px;
  line-height: 12px;
}

.input__error {
  height: 40px;
  margin-bottom: 10px;

  display: flex;
  align-items: center;

  font-family: Roboto;
  font-size: 13px;
  line-height: 15px;
  color: $secondary;
}

.input__error-message {
  margin-left: 10px;
}
