@import "variables.scss";

html,
body {
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  background-color: $background-gray;
  background-image: url("images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
}

.container {
  max-width: 768px;

  @media (min-width: 1024px) {
    max-width: 1024px;
  }

  margin: 0 auto;
}

@import "./stylesheets/button.scss";
@import "./stylesheets/card.scss";
@import "./stylesheets/checkout-modal.scss";
@import "./stylesheets/input.scss";
@import "./stylesheets/date-input.scss";
@import "./stylesheets/datepicker.scss";
@import "./stylesheets/dropdown-input.scss";
@import "./stylesheets/flight.scss";
@import "./stylesheets/flights.scss";
@import "./stylesheets/flight-card.scss";
@import "./stylesheets/flight-date-selector.scss";
@import "./stylesheets/flight-ticket-selector.scss";
@import "./stylesheets/header.scss";
@import "./stylesheets/home-layout.scss";
@import "./stylesheets/inbound-form.scss";
@import "./stylesheets/select-flight-layout.scss";
@import "./stylesheets/title.scss";
