$background-gray: #c4c4c4;
$gray: #919191;
$hover-gray: lighten($gray, 36%);
$white: #ffffff;
$primary: #06038d;
$secondary: #c6007e;
$button-blue: #3434e0;
$button-hover-blue: darken($button-blue, 10%);
$title-blue: #0a008b;
