$background-gray: #f2f2f2;
$gray: #919191;
$hover-gray: lighten($gray, 36%);
$hover-gray-dark: lighten($gray, 10%);
$border-gray: #e1e1e1;
$white: #ffffff;
$primary: #06038d;
$secondary: #c6007e;
$black: #343434;

$button-blue: #3434e0;
$button-hover-blue: darken($button-blue, 10%);
$button-magenta: $secondary;
$button-hover-magenta: lighten($button-magenta, 5%);
$button-gray: #c1c1c1;

$title-blue: #0a008b;
